@import '../../../styles/variable.scss';

.article {
  color: $textColor;
  display: flex;
  font-size: 14px;
  padding: .75rem .5rem;

  &__up-vote {
    margin-right: 5px;
    display: flex;
    flex: 1;
  }
  &__comments {
    flex: 2;
  }
  &__points {
    flex: 2;
    color: $orangeColor;
  }
  &__creation-details {
    flex: 10;
  }
  &__external-url a {
    color: $textColor;
    text-decoration: none;
  }
  address {
    display: inline-block;
    font-style: normal;
    color: $blackColor;
  }
  h2 {
    font-size: 14px;
    display: inline-block;
  }
  button {
    border: none;
    background: none;
    color: $blackColor;
    font-size: 14px;
    cursor: pointer;
  }
  &.odd {
    background-color: $oddColor;
  }
}
