@import '../../../styles/variable.scss';

.header {
  background-color: $orangeColor;
  display: flex;
  font-size: 14px;
  color: $whiteColor;
  align-items: center;
  padding: .5rem;
  &__comments, &__vote-count {
    flex: 2;
  }
  &__up-vote {
    flex: 1;
    margin-right: 5px;
  }
  &__news-details {
    flex: 10;
  }
}
