.header {
  background-color: #ff6600;
  display: flex;
  font-size: 14px;
  color: #fff;
  align-items: center;
  padding: 0.25rem;
  &__comments {
    flex: 2;
  }
  &__vote-count {
    flex: 2;
  }
  &__up-vote {
    flex: 1;
    margin-right: 5px;
  }
  &__news-details {
    flex: 10;
  }
}
